{% extends 'base.html' %}
{% block title %}Add Comment{% endblock %}
{% load crispy_forms_tags %}
{% block page %}
<div class="container mt-4">
  <h4>Post Comment</h4>
  {% if user.is_authenticated %}
    <form method="POST">
      {% csrf_token %}
      {{form|crispy}}
      <br>
      <button class="btn btn-success" type="submit">Submit</button>
    </form>
    <br>
  </div>
  <script>
    var com = "{{ user.quiz.id }}";
    var na = "{{ user.username }}";
    document.getElementById("comm").id = com;
    document.getElementById("name").id = na;
  </script>
  {% endif %}
  {% endblock %}
  